<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 

    <section id="banner" class="style1">
      <div class="inner">
        <span class="image">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
        </span>
        <header class="major">

          <h1>{{ page.title }}</h1>
          <h3>{{ page.description }}</h3>

        </header>
      </div>
    </section>

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          {% for news in site.news reversed %} 
          <!-- On {{ news.date | date: "%b, %-d %Y" }} -- <i>by {{ news.author }}</i> -->
          On {{ news.date | date: "%b, %-d %Y" }}
          <h3><a href="{{ news.url  | relative_url }}" class="link">{{ news.title }}</a></h3>
          {% if news.slug and news.slug != "" %}<p>{{ news.slug }}</p>{% endif%}
          <a href="{{ news.url  | relative_url }}" class="button small">Read more</a>
          <hr class="major">
          {% endfor %}
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
