<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>&quot;{{ page.title }}&quot;</h1>
      <h2>by {{ page.speaker }}{% if page.affiliation and page.affiliation != "" %}, {{ page.affiliation }}{% endif %}</h2>
		</header>

    {% assign site_time = site.time | date: '%s' %}
    {% assign page_time = page.date | date: '%s' %}
    {% assign d = page.date | date: "%d" | plus:'0' %}
    {% if page_time < site_time %}
      <u>Update</u>: the event has now finished ({{ page.date | date: "%b" }}
      {% case d %}
      {% when 1 or 21 or 31 %}{{ d }}st
      {% when 2 or 22 %}{{ d }}nd
      {% when 3 or 23 %}{{ d }}rd
      {% else %}{{ d }}th
      {% endcase %}
      {{ page.date | date: "%Y" }}).
    {% else %} 
      <h3> The talk will be on {{ page.date | date: "%b" }}
        {% case d %}
        {% when 1 or 21 or 31 %}{{ d }}st
        {% when 2 or 22 %}{{ d }}nd
        {% when 3 or 23 %}{{ d }}rd
        {% else %}{{ d }}th
        {% endcase %}
        {{ page.date | date: "%Y" }}
        {%if page.time %} at {{ page.time }} (UK time).{% else %}<i>(time to be confirmed).</i>{% endif %}</h3>
    {% endif %}

		{% if page.image %}<span class="image main"><img src="{{ site.baseurl | relative_url }}/{{ page.image }}" alt="" /></span>{% endif %}
    <p>{{ content }}</p>

    {% if page_time >= site_time %}
    <b><i>If you would like to be sent the meeting link, please contact&nbsp;<a href="mailto:A.Bloore@wlv.ac.uk">Dr Amanda Bloore</a>.</i></b>
    {% endif %}
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>
