<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 

    <section id="banner" class="style1">
      <div class="inner">
        <span class="image">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
        </span>
        <header class="major">

          <h1>{{ page.title }}</h1>

        </header>
      </div>
    </section>

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          {{ content }}
    
          {% assign site_time = site.time | date: '%s' %}
          {% assign seminars = site.seminars | where_exp:"items", "items.series contains page.series" %}

          <h2>Upcoming Talks</h2>
          {% assign count_future_seminar = 0 %}
          {% for seminar in seminars %}
          {% assign seminar_date = seminar.date | date: '%s' %}
          {% if seminar_date >= site_time %}
          {% assign count_future_seminar = count_future_seminar | plus:1 %}
          <b>{{ seminar.date | date: "%b, %-d %Y" }}</b> by {{ seminar.speaker }}{% if seminar.affiliation and seminar.affiliation != "" %}, {{ seminar.affiliation }}{% endif %}
          <h3>&#10077;<a href="{{ seminar.url | relative_url }}" class="link">{{ seminar.title }}</a>&#10078;</h3>
          {% if seminar.keywords %}<p>Keywords: {{ seminar.keywords }}</p>{% endif %}
          <a href="{{ seminar.url | relative_url }}" class="button small">Abstract &amp; Speaker Bio</a>
          <br />
          <br />
          <br />
          {% endif %}
          {% endfor %}
          {% if count_future_seminar == 0 %}
          <i>There are currently no future talks scheduled.</i>
          {% endif %}


          <br />
          <hr class="major">
          <br />

          <h2>Past Talks</h2>
          {% for seminar in seminars reversed %}
          {% assign seminar_date = seminar.date | date: '%s' %}
          {% if seminar_date < site_time %}
          <!-- {{ seminar.date | date: "%b, %-d %Y" }} by {{ seminar.speaker }}{% if seminar.affiliation and seminar.affiliation != "" %}, {{ seminar.affiliation }}{% endif %} -->
          &#9745; {{ seminar.speaker }}{% if seminar.affiliation and seminar.affiliation != "" %}, {{ seminar.affiliation }}{% endif %}
          <h4>&#10077;<a href="{{ seminar.url | relative_url }}" class="link">{{ seminar.title }}</a>&#10078;</h4>
          {% endif %}
          {% endfor %}
          <br />
          <br />
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
